@charset "UTF-8";
#footnote{
    background-color: rgb(185, 202, 250);
    height: min-content;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    /*position: absolute;*/
}
@media only screen and (max-width: 500px){
    #footnote{
        background-color: rgb(185, 202, 250);
        font-size: 10px;
        height: min-content;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        /*position: absolute;*/
    }
}