@charset "UTF-8";
.navbar {
    background-color: aliceblue;
}

.navbar-brand {
    font-size: 30px;
}



/*
.heading li {
    float: left;
}
.heading li a {
    margin: 10px auto;
    text-align: center;
    display: block;
    color: white;
    text-decoration: none;
}
.headingLogo {
    font-size: 10px;
    float: left;
}
.headingTitle {
    font-size: 40px;
}
.headingBtn {
    
}
@media only screen and (max-width: 500px){
    .heading {
        background-color: orange;
        font-size: 10px;
        font-weight: bolder;
        text-align:center;
        position: absolute;
        width: 100%;
        height: 60px;
        top: 0px;
        left: 0px;
    }
}*/