@charset "UTF-8";* {
  box-sizing: border-box;
}

.text-center {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
}

.menu {
  float: left;
  width: 20%;
}
.menuitem {
  padding: 8px;
  margin-top: 7px;
  border-bottom: 1px solid #f1f1f1;
}
.main {
  float: left;
  width: 60%;
  padding: 0 20px;
  overflow: hidden;
}
.right {
  background-color: #f1f1f1;
  float: left;
  width: 20%;
  padding: 10px 15px;
  margin-top: 7px;
}

#tblDiv{
    margin-top: 140px;
    height: 50%;
    overflow: auto;
}
.transactionTable{
    width: 100%;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.transactionTable caption{
    color: rgb(1, 117, 156);
    text-align: left;
}
.transactionTable th{
    background-color: rgb(1, 117, 156);
    color: aliceblue;
    padding: 5px;
    border: 1px solid black;
}
.transactionTable td{
    border: 1px solid black;
}
.transactionTable tr:nth-child(even){
    background-color: lightcyan;
    padding: 5px;
    border: 1px solid black;
}
.transactionTable tr:nth-child(odd){
    background-color: lightblue;
    padding: 5px;
    border: 1px solid black;
}

@media only screen and (max-width:800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu, .main, .right{
    width: 100%;
  }
}

h2 {
  font-family: "Lucida Bright";
  }
