@charset "UTF-8";
body{
    background-color: blanchedalmond;
}
#mainBody{
    margin-top: 140px;
}
#bodyTbl{
    border: 2px solid aliceblue;
    color: blue;
    width: 600px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}
#btnTbl{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
#btnTbl button{
    background-color: rgb(1, 117, 156);
    color: aliceblue;
    width: 200px;
    height: 50px;
}